extends ../layout.pug
block content
  div#jsoneditor(style="width: 400px; height: 400px;")
  input(v-model="jsonStr")
  button(@click="load") load jsonString
  textarea {{out}}
  link(href='/bower_components/jsoneditor/dist/jsoneditor.min.css',rel='stylesheet',type='text/css')
  script(src='/bower_components/jsoneditor/dist/jsoneditor.min.js')
