extends index.pug
block content
  // Page Header
  // Set your background image for this header on the line below.
  header.intro-header(style="background-image: url('/public/img/about-bg.jpg')")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .page-heading
            h1 About Me
            |                         
            hr.small
            |                         
            span.subheading This is what I do.
  // Main Content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h3 本站使用如下技术
        p 服务器：ubuntu server
        p 基于 on node.js 技术构建
        p 使用了如下技术：
        p 1) 后端框架：express
        p 2) 数据库：mongodb
        p 3) 模板引擎：pug ( 原名jade ) 
        p 4) 前端路由：vue-router
        p 5) 前端框架：vue.js / jquery.js
        p 6) UI/style：bootstrap / bootstrap-material-design

  router-view

