extends layout.pug
block content
  ul.list-group
    li.list-group-item(v-link="{ path: '/check' }") check
    li.list-group-item(v-link="{ path: '/timeline' }") timeline
    li.list-group-item(v-link="{ path: '/button' }") button
    li.list-group-item(v-link="{ path: '/undersore' }") undersore
    li.list-group-item(v-link="{ path: '/hello/tom' }") hello
  div#demo
    router-view