extends layout.pug
block content
    title title
    // Bootstrap Core CSS
    // Custom CSS
    link(href='/public/stylesheets/clean-blog.min.css', rel='stylesheet')
    // Navigation
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button#nav_btn.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(v-link="{ path: '/' }") 张玛妮
        // Collect the nav links, forms, and other content for toggling
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.nav_menu
              a(v-link="{ path: '/' }") Home
            li.nav_menu
              a(v-link="{ path: '/about' }") About
            li.nav_menu
              a(v-link="{ path: '/contact' }") Contact
        // /.navbar-collapse
      // /.container
    // Main Content
    block content
    hr
    // Footer
    footer
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            ul.list-inline.text-center
              li
                a(target='_blank',href='http://weibo.com/zhangmani')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-weibo.fa-stack-1x.fa-inverse
              li
                a(target='_blank',href='https://github.com/zhangmani')
                  span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-github.fa-stack-1x.fa-inverse
            p.copyright.text-muted Copyright &copy; www.zhangmani.com 2016
            p.copyright.text-muted 京ICP备16001206号-3
            p.copyright.text-muted
              a(href='/mp') login
