doctype html
html
  head
    title= title
    meta(name='viewport',content='initial-scale=1.0,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/ripples.min.js')
    script(src='/bower_components/bootstrap-material-design/dist/js/material.min.js')
    script(src='/bower_components/vue/dist/vue.min.js')
    script(src='/bower_components/vue-router/dist/vue-router.min.js')
    script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
  body
    div#content
      block content
    script(src='/public/javascripts/wx.js')
    script(src='/public/javascripts/xml.js')
    script(src='/public/javascripts/timeline.js')
    - src='/public/javascripts/'+js+'.js'
    script(src=src)
    script(src='/public/javascripts/layout.js')